.alt-header {
  padding : 5px var(--horizontal-space);
  display : flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 25px;
}
.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child{
  margin-right: auto;
}

.alt-header__column:nth-child(2){
  text-align: center;
}


.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column:last-child span:nth-child(2) {
  padding-left: 20px;
}
 